{{> navbar user }}

<div class="employee-container">
    <div class="employee-row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">Employee Description</h4>
            </div>
        </div>
    </div>
</div>

<div class="employee-container">
    <div class="employee-row">
        {{#each Employee}}
        <div class="row">
            <div class="col-md">
                <h2>Employee Information </h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td>First Name:{{Employee.employeeName}}</td>
                        </tr>
                        <tr>
                            <td>Last Name:{{Employee.employeelastName}}</td>
                        </tr>
                        <tr class="table-primary">
                            <td>Department Name:{{Department.name}}/td>
                        </tr>
                        <tr class="table-primary">
                            <td>Employee email:{{Employee.email}}</td>
                        </tr>
                        <tr class="table-primary">
                            <td>Employee Pay:{{Employee.payRate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/each}}
    </div>