{{> navbar user }}
<br>
<div class="container">
    <div class="row d-flex flex-wrap">
<div class="employee-container">
    <div class="employee-row">
        <div class="col-md">
            <div class="jumbotron shadow">
                <h4 class="display-6">Employee Description</h4>
            </div>
        </div>
    </div>
</div>

<div class="employee-container">
    <div class="employee-row">

        {{#each Employee}}
        <div class="col-3">
            <div class="card text-white bg-info mb-3 shadow" id="style-dept-card" style="max-width: 20rem;">
                <div class="card-header">
                    <h4>{{employeeName}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"></p>
                    <tbody>
                        <tr class="table-primary">
                            <td>First Name: {{employeeName}}</td>
                        </tr>
                        <tr class="table-primary">
                            <br>
                            <td>Last Name: {{employeelastName}}</td>
                        </tr>
                        <tr class="table-primary">
                            <br>
                            <td> email: {{email}}</td>
                        </tr>
                    </tbody>
                    <br>
                    <div>
                        <button type="button" class="btn btn-danger btn-sm delete-this-employee"
                            data-id="{{this.id}}">Delete {{employeeName}}</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-label" for="newEmployeeName">Add an Employee</label>
                <input type="text" class="form-control shadow" placeholder="Employee First Name" id="newEmployeeName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow" placeholder="Employee Last Name" id="newEmployeeLastName">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="newEmail">Add Email</label>
                <input type="text" class="form-control shadow" placeholder="Email" id="newEmail">
            </div>
            <button type="button" class="btn btn-info shadow" id="create-new-employee">Create New Employee</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#create-new-employee").on("click", function (event) {
            event.preventDefault();

            const newEmployee = {
                employeeName: $("#newEmployeeName").val().trim(),
                employeelastName: $("#newEmployeeLastName").val().trim(),
                email: $("#newEmail").val().trim()
            };

            $.ajax("/api/employee", {
                type: "POST",
                data: newEmployee
            }).then(function () {
                console.log("created new employee");
                location.reload();
            });
        });

        $("delete-this-employee").on("click", function (event) {
            event.preventDefault();
            const id = $(this.data("id"));

            $.ajax("/api/employee/" + id, {
                type: "DELETE"
            }).then(function () {
                console.log("Employee has been deleted", id);
                location.reload();
            });
        });
    });
</script>